{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>About Us</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>About Us</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- About Section -->
    <section id="about" class="why-us">
        <div class="container">

            <div class="section-title">
                <h2>About Us</h2>
            </div>

            <div class="container">
                <div class="row">
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
                         style="background:url(../assets/img/website/IMG_1150.jpg); center center no-repeat; background-size: cover; min-height: 400px;"></div>
                    <div id="vision" class="col-xl-7">
                        <div class="box">
                            <span>Our Vision</span>
                            <p>Currently, large numbers of Muslims, in particular the Turkophone Uyghur Muslims, are
                                being
                                detained
                                by the Chinese government in an attempt to culturally assimilate them into the Han
                                majority
                                through
                                “re-education” camps, forced labor, and sterilization. While not all Muslims face the
                                same
                                pressure
                                from the state or are subject to the same severe measures, we consider educating
                                scholars
                                and
                                the
                                general public on the history of China’s diverse Muslim communities a necessity — to
                                raise
                                consciousness about the violations of their rights. By sharing these Islamic manuscripts
                                as
                                an
                                online archive, the uniqueness of these communities’ culture can be accessed and
                                appreciated. We
                                work together to preserve these texts in an authentic manner and in their truest form.
                                We
                                hope
                                to
                                relay and connect to other academic databases through this online archive; furthermore,
                                we
                                believe
                                that this project can contribute to the globalization of information through our
                                friendly
                                interface,
                                which is meant for students, scholars, activists, and community members alike.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div id="mission" class="col-xl-7">
                        <div class="box">
                            <span>Our Mission</span>
                            <p>The Islam in China Archive project aims to track down manuscripts which are considered
                                important
                                to
                                many of these Muslim communities. Using our resources, we analyze and archive them to
                                ensure
                                that
                                the people of the community and interested scholars have access to them. We work to make
                                the
                                history
                                and culture of the community well-known. Through this, we work to preserve the rich
                                history
                                through
                                this multimedia archive and to make the current plight of the many Muslim communities
                                widespread
                                knowledge. Through this online archive, we hope to immortalize the textual history of
                                these
                                Sino-Islamic communities, while also showcasing the transnational connections between
                                Islamic
                                world
                                and East Asia. By doing so, we are ensuring the expansion of primary sources for the
                                academic
                                community, and we are highlighting the transregional networks that bind East Asia to the
                                Islamic
                                world. Similarly, our mission is also to preserve these texts in the face of systemic
                                government
                                oppression in China, in hopes that the culture, language, and religious diasporic
                                individuality
                                is
                                not lost.
                            </p>
                        </div>
                    </div>
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
                         style="background:url(../assets/img/website/S1250024.jpg); center center no-repeat; background-size: cover; min-height: 400px;"></div>
                </div>

                <div class="row mt-5">
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
                         style="background:url(../assets/img/website/IMG_0602_2.jpg); center center no-repeat; background-size: cover; min-height: 400px;"></div>
                    <div id="work" class="col-xl-7">
                        <div class="box">
                            <span>Our Work</span>
                            <p>Most of the manuscripts contained in this database were acquired by the principal
                                investigator
                                Guangtian Ha on his fieldwork in China. They were purchased in small independent
                                bookshops
                                adjacent
                                to local mosques, or presented as gifts by Sino-Muslim (Hui) clerics and scholars. Some
                                were
                                already
                                in the scanned PDF format at the time of acquisition, reflecting a higher level of
                                digitization
                                in
                                the community and likely indicating pertinent texts’ wide circulation and popularity –
                                at
                                least
                                among the scholarly Muslim community.

                                In addition to written texts, this database also contains a wealth of multimedia files,
                                from
                                images
                                to audio files to short video clips, that document the living ritual practices of
                                China’s
                                Muslims,
                                with a focus on the Sinophone Hui Muslims. We strive to show how texts are performed and
                                embodied in
                                real life, and preserve visual and auditory evidence that may offer essential support
                                for
                                uncovering
                                transregional connections that remain invisible in texts. Using this online archive we
                                hope
                                to
                                illustrate the movement of languages, politics, religious recitations, and cultural
                                practices
                                within
                                and beyond the Sino-Muslim communities through the centuries.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="section-title mt-5">
                    <h2>The Founders</h2>
                </div>

                <div class="row mt-3">
                    <div id="founder" class="col-xl-8">
                        <div class="box">
                            <span>Guangtian Ha</span>
                            <h4>Assistant Professor of Religion at Haverford College</h4>
                            <p>His latest book, <i>The Sound of Salvation: Voice, Gender, and the Sufi Mediascape in
                                China</i>,
                                is published by Columbia University Press. He is the co-editor of <i>The Contest of
                                    the
                                    Fruits</i> (MIT 2021) and <i>Ethnographies of Islam in China</i> (Hawai'i 2020).
                                He
                                first
                                began
                                collecting Islamic manuscripts on an ad hoc basis when carrying out fieldwork among
                                China’s Sinophone Muslims. He soon realized that the translingual nature of the
                                texts
                                could provide new entry points into thus far under-examined, if not altogether
                                forgotten
                                histories – hence the beginning of this project.</p>
                        </div>
                    </div>

                    <div class="image col-xl-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"
                         style="background:url(../assets/img/team/guangtian-small.jpeg); center center no-repeat; background-size: cover; min-height: 350px;"></div>
                </div>

                <div class="row mt-5">
                    <div class="box col-xl-8">
                        <span>Anna-Alexandra Fodde-Reguer</span>
                        <h4>Research and Instruction Librarian at Haverford College</h4>
                        <p>She holds a PhD in Asian Languages and Cultures from the University of Michigan. Her
                            speciality is the history of Chinese religions.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->

</main><!-- End #main -->
{% endblock %}
{% block script %}
{{ super() }}
{% endblock %}