<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="https://islaminchina.org/">Islam in China</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!--        <a href="/" class="logo"><img src="../assets/img/pen-icon.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="https://islaminchina.org/">Home</a></li>
                <li class="dropdown"><a href="http://127.0.0.1:8000/about_us/"><span>About Us</span> <i
                        class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="https://islaminchina.org/about_us/#vision">Our Vision</a></li>
                        <li><a href="https://islaminchina.org/about_us/#mission">Our Mission</a></li>
                        <li><a href="https://islaminchina.org/about_us/#work">Our Work</a></li>
                        <li><a href="https://islaminchina.org/about_us/#founder">The Founders</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="http://127.0.0.1:8000/manuscripts/"><span>Manuscripts</span> <i
                        class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="https://islaminchina.org/manuscripts/">All Manuscripts</a></li>
                        <li><a href="https://islaminchina.org/add_manuscript/">Add Manuscript</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>History</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="https://islaminchina.org/history_islam/">Brief History of Islam in China</a></li>
                        <li><a href="https://islaminchina.org/history_manu/">History of the Manuscripts</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="https://islaminchina.org/contact/">Contact</a></li>
                <li><a class="getstarted scrollto" href="https://islaminchina.org/manuscripts/">Get Started</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->