{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Brief History of Islam in China</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>History</li>
                    <li>Brief History of Islam in China</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="manuscript-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">
                <div class="col-5">
                    <div class="image d-flex align-items-stretch justify-content-center justify-content-lg-start"
                         style="background:url(../assets/img/website/IMG_0632.jpg); center center no-repeat; background-size: cover; min-height: 400px;"></div>
                    <div class="image mt-3 d-flex align-items-stretch justify-content-center justify-content-lg-start"
                         style="background:url(../assets/img/website/IMG_1022.jpg); center center no-repeat; background-size: cover; min-height: 700px;"></div>
                </div>
                <div class="col-7">
                    <div class="portfolio-info">
                        <h3>Brief History of Islam in China</h3>
                        <p>
                            Gone are the days when Islam in China was somewhat of an oxymoron; yet the growth in
                            knowledge and interest is at times the outcome of unfortunate turns of events. As of this
                            writing, likely more than one million Uyghur Muslims – a Turkicophone Muslim group in
                            Western China – are interned in concentration camps (“vocational education centres,” so
                            claimed the Chinese state).
                        </p>
                        <p>
                            Uyghurs are considered one of the oldest Turkic-speaking populations in Central Asia, with
                            their homeland at the heart of the multireligious and multilingual Silk Roads. Today, most
                            Uyghurs live in China, with growing numbers of diasporic Uyghur communities in Central Asia,
                            North America, Australia, and Europe. Evidence shows an orchestrated movement of Han
                            settlers into the Uyghur homeland by the Chinese government to attenuate the Uyghur
                            population there, and there is also evidence of the government targeting Muslim religious
                            figures and Islamic landmarks with the aim of erasing Uyghur cultural and historical
                            legacies.
                        </p>
                        <p>
                            Amidst this turmoil that has caught the attention of international media, one often forgets
                            that Uyghurs are not the only Muslims in China; and historically, between Uyghurs and other
                            Muslim groups – the Hui, the Kazakhs, the Uzbeks, the Tajiks, among others – there has been
                            continuous exchange of religious ideas and linguistic influences, to the point where ethnic
                            boundaries that appear self-evident now were hardly applicable then in the same rigid
                            manner. This preliminary idea drives our efforts in sharing manuscripts and records of
                            ritual practice gathered from amongst the Sinophone Muslim community.
                        </p>
                        <p>
                            We do this by preserving and offering explanatory notes – as elaborate as we can manage – on
                            Chinese, Arabic, and Persian manuscripts and other non-textual sources. These resources were
                            collected primarily by Guangtian Ha, the principal investigator of this project, between
                            2010 and the present. Some of the texts were digitized at the time of collection, while
                            others were purchased by or gifted to Ha during fieldwork and subsequently digitized at
                            Haverford College. Most of the audio-visual files contained in this database document ritual
                            practices long known to some scholars but which have never been observed or recorded
                            first-hand. The Arabic and Persian manuscripts, in particular, while limited in number, show
                            the wide range of texts – from manuals of religious creeds to grammar primers to elaborate
                            Sufi hagiographies to political pamphlets – in the possession of Hui Muslim communities.
                        </p>
                        <p>
                            We aim to continue to increase the amount of the resources held in this database, and make
                            them widely and freely available to interested researchers and community members around the
                            world, bearing in mind that access can never be fully equal and restrictions placed on
                            Internet access both in China and outside will undermine our efforts to spread the knowledge
                            of Islam in China. Yet we remain hopeful that this project will be but a teetering first
                            attempt that is to be joined by more rigorous work from other colleagues in China and
                            elsewhere.
                        </p>
                    </div>
                </div>
            </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
{% endblock %}
{% block script %}
{{ super() }}
{% endblock %}