{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>History of the Manuscripts</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>History</li>
                    <li>History of the Manuscripts</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="manuscript-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">
                <div class="col-12">
                    <div class="portfolio-info">
                        <h3>History of the Manuscripts</h3>
                        <p>
                            Islamic Manuscripts produced by China’s Sinophone Hui Muslims touch on a wide range of
                            topics, cross into multiple languages, and vary in the quality of the paper used and the
                            skills involved in their production. It has been affirmed that the Mongol conquest in the
                            thirteenth century and the consequent massive mobilization of population between the
                            Persianate Central Asia and East Asia resulted in the entry of Islamic manuscripts into
                            China. The multilingual nature of the Mongol Empire echoed and likely laid the foundation
                            for the multilingualism (Arabic, Persian, and numerous Chinese dialects) which still
                            permeates in Hui Islamic manuscripts today. This multilingualism at times takes the form of
                            transliteration – transliterating Arabic words with Chinese characters, or vice versa – and
                            at others a smooth transition between different languages within the same script. Examples
                            of this include the famous xiao’erjing, which uses Arabic alphabet to transcribe Chinese.
                        </p>

                        <p>
                            These Arabic and Persian manuscripts, while limited in number, show the wide range of texts
                            – from manuals of religious creeds to grammar primers to elaborate Sufi hagiographies to
                            political pamphlets – in the possession of contemporary Hui Muslim communities. The Chinese
                            manuscripts and publications, largely from the twentieth century, showcase the shifting
                            religious and political stances of the Sinophone Muslim communities in China.
                        </p>

                        <p>
                            These resources were collected primarily by Guangtian Ha, the principal investigator of this
                            project, between 2010 and the present. Some of the texts were digitized at the time of
                            collection, while others were purchased by or gifted to Ha during fieldwork and subsequently
                            digitized at Haverford College. Most of the audio-visual files contained in this database
                            document ritual practices long known to some scholars but which have never been observed or
                            recorded first-hand.
                        </p>
                        <p>
                            It is important to note that while the manuscripts are largely of a later date – nineteenth
                            and twentieth centuries – they were often reprints of earlier hand-copied texts, which are
                            in turn reproductions of still earlier works. We still know frustratingly little about how
                            one text was copied and recopied and put in circulation, who the scriveners and assemblers
                            had been, and the chains of locations the manuscripts must have traveled before arriving in
                            the hands of the collector. We thus share these manuscripts in their original condition with
                            the hope that they may offer clues to scholars working on transregional Islam to uncover
                            hitherto unknown networks that demonstrate the interconnection between Islam in East Asia
                            and Islam in the wider Indian Ocean world.
                        </p>
                    </div>
                </div>
            </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
{% endblock %}
{% block script %}
{{ super() }}
{% endblock %}