{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block content %}
<main id="main">
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

                <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <!-- Slide 1 -->
                    <div class="carousel-item active"
                         style="background: url(../assets/img/slide/IMG_1075.JPG);background-size:cover;">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">Manuscript List</h2>
                                <p class="animate__animated animate__fadeInUp">Dive right into the full list of
                                    manuscripts that we currently have</p>
                                <div>
                                    <a href="https://islaminchina.org/manuscripts/"
                                       class="btn-get-started animate__animated animate__fadeInUp scrollto">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="carousel-item"
                         style="background: url(../assets/img/slide/IMG_1174.JPG);background-size:cover;">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">About Us</h2>
                                <p class="animate__animated animate__fadeInUp">Learn more about the project</p>
                                <div>
                                    <a href="https://islaminchina.org/about_us/"
                                       class="btn-get-started animate__animated animate__fadeInUp scrollto">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 3 -->
                    <div class="carousel-item"
                         style="background: url(../assets/img/slide/IMG_1147.jpg);background-size:cover;">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">Featured Manuscript</h2>
                                <p class="animate__animated animate__fadeInUp">Get started right away with a manuscript
                                    from our collection</p>
                                <div>
                                    <a href="https://islaminchina.org/manuscripts/text_004/"
                                       class="btn-get-started animate__animated animate__fadeInUp scrollto">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                </a>

            </div>
        </div>
    </section><!-- End Hero -->

    <!-- ======= About Section ======= -->
    <section class="about">
        <div class="container">

            <div class="row no-gutters">
                <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
                     style="background:url(../assets/img/slide/IMG_1014.jpg); center center no-repeat; background-size: cover; min-height: 400px;"></div>
                <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
                    <div class="content d-flex flex-column jus tify-content-center">
                        <h3>Our project aims to spread knowledge about Islam in China</h3>
                        <div class="row">
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-shield"></i>
                                <h4>To Preserve</h4>
                                <p>We preserve these manuscripts to ensure that the culture and identity of the Muslim
                                    community are not lost in the face of oppression.
                                </p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-search"></i>
                                <h4>To Investigate </h4>
                                <p>We intend to track down many of the manuscripts that are considered important parts
                                    of Sino-Islamic culture.
                                </p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-chat"></i>
                                <h4>To Understand</h4>
                                <p>We add these manuscripts to our online archive and analyze their significance to the
                                    community.
                                </p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-share"></i>
                                <h4>To Share</h4>
                                <p>By preserving these manuscripts, members of the Sino-Muslim communities and scholars
                                    of various fields are able to study these manuscripts.
                                </p>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>
    </section>
</main><!-- End #main -->
{% endblock %}
{% block script %}
{{ super() }}
{% endblock %}