{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{{super()}}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
{% endblock %}
{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Manuscript List</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>Manuscript List</li>
                </ol>
            </div>
        </div>
    </div><!-- End Breadcrumbs -->
    <div class="container mb-5">
        <br>
        <table id="manuscriptTable" class="table table-hover">
            <thead>
            <tr>
                <th> Arabic Title</th>
                <th> Chinese Title</th>
                <th> People Involved</th>
                <th> Type</th>
                <th> Place</th>
                <th> Year</th>
                <th> Publisher</th>
                <th> Number of Pages</th>
            </tr>
            </thead>
            <tbody>
            {% if manuscripts %}
            {% for manu in manuscripts %}
            <tr>
                <td><a href="{{ '/manuscripts/%s' %manu.index }}" style="display:block;">{{manu.arab_title}}</a>
                </td>
                <td>{{manu.chinese_title}}</td>
                <td>{{manu.people_involved}}</td>
                <td>{{manu.type}}</td>
                <td>{{manu.place}}</td>
                <td>{{manu.year}}</td>
                <td>{{manu.publisher}}</td>
                <td>{{manu.num_pages}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <strong> There are no manuscripts available at this time in the db. </strong>
        {% endif %}
    </div>
</main>
{% endblock %}
{% block script %}
{{ super() }}
<script src="//code.jquery.com/jquery-3.5.1.js"></script>
<script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script> $(document).ready(function () {
  $('#manuscriptTable').DataTable({
  "pageLength": 10,
  "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
  columnDefs: [
    {
        targets: [5,7],
        className: 'dt-body-center'
    },
    {
        targets: "_all",
        className: 'dt-head-center'
    },
  ],
  });
});
</script>
{% endblock %}